* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*#### Navigation bar Top ####*/
.head_nav_bar {
    margin: 1px auto;
}

.nav_part_one  {
    height: 65px;
    display : flex;
    align-items: center;
}

.nav_part_one .logo {
    height: 27px;
    width: 156px;
    margin-left: 40px;
    margin-top: 15px;
}

.nav_part_one li,ul {
    display: inline-block;
}

.nav_part_one ul {
    position: relative;
    left: 35%;
}

.nav_part_one li {
   margin: 15px;
   padding: 5px;
   color: #053c50;
   font-family: Gotham , arial, Arial, Helvetica, sans-serif;
   font-size: 13px;;
   font-weight: 400;
}

.nav_part_one li:hover {
    color: #0ab45b;
}

#lan {
    padding-right: 20px;
 }

 .nav_part_one input {
    margin: 15px;
    padding: 5px;
    color: #053c50;
    font-family: arial, Arial, Helvetica, sans-serif;
    font-size: 13px;;
    font-weight: 400;
 }

 .nav_part_one .search {
    height: 12px;
    width: auto;
    position: relative;
    right: 38px;
    top: 2px;
}
/*#### Navigation bar Top ####*/

/*#### Navigation bar Bot ####*/
.nav_part_two {
    font-family:Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    height: 42px;
    background-color: #ebf0f0;
    display: flex;
    align-items: center;
    padding-left: 40px;
    text-transform: uppercase;
}

.nav_part_two h3 {
    display: inline-block;
    margin-right: 40px;
    color: #053c50;
}

.nav_part_two h3:hover {
    color: #0ab45b;
    transition: 0.2s;
}
/*#### Navigation bar Bot ####*/










/*#### Slider ####*/
.slide_container {
    height: 450px;
    background-image: url(images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.platform-image img {
    position: relative;
    bottom: 15px;
    left: 50%;
}

.platform-info {
    display: inline-block;
    position: relative;
    left: 45px;
    bottom: 420px;
    font-family: Helvetica, sans-serif;
}

.platform-info h2 {
    font-size: 40px;
    font-weight: normal;
    color: #fff;
    margin-bottom: 20px;
}

.platform-info li {
    font-size: 17px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 0;
}

.platform-info p {
    font-size: 17px;
    line-height: 50px;
    color:  rgba(255, 255, 255, 0.8);
    letter-spacing: 0;
    margin-bottom: 25px;
}

.platform-info a {
    padding: 10px;
    border-radius: 5px;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    margin: 0 19px 0 0;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

.openaccount {
    background-color: darkorange;
    font-weight: bold;
}

.openaccount:hover {
    background-color: #f57f00;
    transition: 0.2s;
}

.learnmore {
    border: 1px solid white;
    font-weight: bold;
}
/*#### Slider ####*/